@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div class="jumbotron">
    <h3>Для кого и для чего предназначен этот сайт?</h3>
    <p class="lead">
        <hr class=" m-y-2">Свободное время хочется провести интересно и увлекательно, качественно и красиво. Место отдыха выбирается в зависимости от настроения.
        <br>В одном случае - это посещение театра или выставки, в другом – концерт любимой рок-группы или посещение спортивного мероприятия. <br />В любом случае, помочь с выбором может афиша мероприятий, объединяющая сведения обо всех заведениях и событиях города.
        <br>  Данный сайт дает возможность отдохнуть семьей, вместе с любимым человеком или в кругу преданных друзей, посетить интересное мероприятие или захватывающую премьеру.<br /> Все это, и многое другое, можно найти на сайте
    </p>

</div>
<address>
    ISPU<br />
    Ivanovo, Russia 16500<br />
    <abbr title="Phone">P:</abbr>
    <a href=" tel:+79085613363">+79085613363</a>
</address>

<address>
    <strong>Support:</strong>   <a href=" mailto:iya.krivtsova@gmail.com">iya.krivtsova@gmail.com</a><br />

</address>
